{{! blogs will go here on home page }}
{{#each posts as |post|}}
<div class="posts"></div>
<div class="container">
    <div class="card border-primary mb-3 " style="max-width: 66rem;">

        <div class="card-header">{{post.date_created}}</div>
        <div class="card-header subjectLine">
            <div>Subject: {{ post.title }}</div>
            <div>By: {{ post.user.name}}</div>

        </div>
        <div class="card-body text-primary">
            <p class="card-text">{{post.blogContent}}</p>

            <a class="btn btn-primary " href="/comment/{{post.id}}">Comment</a>
            <div class="card-body text-primary">
                {{#each post.Comments as |comment|}}Comment: {{comment.comments}} By: {{ comment.user.name}} {{/each}}

            </div>
        </div>
    </div>


</div>
</div>

{{/each}}