{{! blogs will go here on home page }}
{{#each posts as |post|}}
<div class="posts"></div>
<div class="container">
    <div class="card border-primary mb-3 " style="max-width: 66rem;">

        <div class="card-header">{{post.date_created}}</div>
        <div class="card-header subjectLine">
            <div>Subject: {{ post.title }}</div>


        </div>

        <div class="card-body text-primary ">

            <div class="helloButton">
                <p class="card-text">{{post.blogContent}}</p>
                <div class="byCom">By: {{ post.user.name}}</div>
                <a class="btn btn-primary " href="/comment/{{post.id}}">Comment</a>

                {{#each post.Comments as |comment|}}
                <div class="subjectLine">

                    <div class="words">Comment: {{comment.comments}} </div>
                    <div class="words">By: {{ comment.user.name}} </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>


</div>
</div>

{{/each}}